// primary stylesss

$black: #000;
$blue: #807af5;
$hoverBlue: #291fee;
$gray: #757575;
$orange: #ffa020;
$hoverOrange: #c1420f;
$darkOrange: #c7780e;
$white: #fff;
$lightGray: #b3b3b3;
$darkGray: #232323;
$textGray: #595959;
$yellow: #f2efe6;

$charcoal: #3a3a3a;
$green: #8eb517;

$darkBlue: rgb(3,32,61);
$blue: #0f75bc;
